{% extends "base.html"%}
{% block title %}
{{ title }}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default navbar-light" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">Back</a>
      <a class="navbar-brand" href="{{ url_for('lhc_status') }}">Refresh</a>
    </div>
    
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <h1>{{ title }}</h1>

  <p>
    <img width=100% height=100% src="https://vistar-capture.s3.cern.ch/lhc1.png"></img>
  </p>
  
</div>
{% endblock %}
